
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Welcome</h1>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
   <h3>Checked In</h3>
   <br>
   <ul>
  {{#each ponies}}
  	<li>
  	   <b>ID:{{this.id}}</b>  Pony Name: {{this.pony_name}}
  	</li>
  {{/each}}
</ul>
    </div>
    <div class="col-sm-2">
      
    </div>
    <div class="col-sm-5">
      <h3>Checked out</h3>
 <br>
      <ul>
  {{#each ponies}}
  	<li>
  	   <b>ID:{{this.id}}</b>  Pony Name: {{this.pony_name}}
  	</li>
  {{/each}}
</ul>
    </div>
    </div>
  </div>

 <form action="/" method="POST">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" id="name_input" placeholder="Full name">
    </div>
    <div class="col">
      <input type="text" class="form-control" id="phone_input" placeholder="Phone Number">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="You have been checked in. Thank you!">
  Check in
</button>
    </div>
    <div class="row">
     <div class="col">
      <input type="text" class="form-control" id="id" placeholder="ID:">
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="You have been checked in. Thank you!">
  Check Out
</button>
    </div>
    </div>
  </div>
</form>

</div>
